In [10]:
import pandas as pd

In [11]:

data= {'Name': ['Mitu','Shahadat','Masud','Sourov','Mahi','Sumaiya'],
      'Age': [23,23,24,22,22,20],
      'Gender': ['F','M','M','M','F','F'],
      'Marks': [80,83,'NaN',90,92,'NaN']}

In [30]:

df =pd.DataFrame(data)

In [31]:
df

       Name  Age Gender Marks
0      Mitu   23      F    80
1  Shahadat   23      M    83
2     Masud   24      M   NaN
3    Sourov   22      M    90
4      Mahi   22      F    92
5   Sumaiya   20      F   NaN

In [14]:
df.shape

(6, 4)

In [15]:
df.info

<bound method DataFrame.info of        Name  Age Gender Marks
0      Mitu   23      F    80
1  Shahadat   23      M    83
2     Masud   24      M   NaN
3    Sourov   22      M    90
4      Mahi   22      F    92
5   Sumaiya   20      F   NaN>

In [16]:
df.columns

Index(['Name', 'Age', 'Gender', 'Marks'], dtype='object')

In [40]:
# কলামের নাম 'Values' ব্যবহার করতে হবে
sum = df["Age"]

In [41]:
sum

0    23
1    23
2    24
3    22
4    22
5    20
Name: Age, dtype: int64

In [42]:
import statistics as st
print("Mean:", st.mean(sum))
print("Median:", st.median(sum))
print("Mode:", st.mode(sum))
print("Standard Deviation:", st.stdev(sum))
print("Variance:", st.variance(sum))

Mean: 22.333333333333332
Median: 22.5
Mode: 23
Standard Deviation: 1.3662601021279464
Variance: 1.8666666666666667

In [18]:
df = pd.read_csv('data.csv')

In [45]:
df

       Name  Age Gender Marks
0      Mitu   23      F    80
1  Shahadat   23      M    83
2     Masud   24      M   NaN
3    Sourov   22      M    90
4      Mahi   22      F    92
5   Sumaiya   20      F   NaN

In [46]:

import statistics as st

In [48]:
# কলামের নাম 'Values' ব্যবহার করতে হবে
values = df["Values"].tolist()

KeyError: 'Values'

In [49]:
values

[10, 12, 15, 18, 20, 22, 22, 25, 30, 35]

In [50]:

print("Mean:", st.mean(values))
print("Median:", st.median(values))
print("Mode:", st.mode(values))
print("Standard Deviation:", st.stdev(values))
print("Variance:", st.variance(values))

Mean: 20.9
Median: 21.0
Mode: 22
Standard Deviation: 7.766738197095497
Variance: 60.32222222222222